{% extends 'base.html.twig' %}

{% block body %}
    <div id="schedule-list-content">
        {{ component('ScheduleListCollectionType', {'initialFormData': scheduleList}) }}
    </div>
{% endblock %}